body {

    background-image: url('imagescss/backgroundimage.jpeg');
    background-size: cover;
    background-attachement: fixed;
    min-height: 400px;



}

p {

    padding: 50px
}



#header{
  background-image: url('imagescss/headerimage.jpg');
  background-size: cover;
  background-attachement: fixed;
  min-height: 400px;
  font-size:800%
}



  .btn-twitter{
    background: #00acee;
    border-color: #009ad5

  }

  .btn-facebook{
    background: #4868ac;
    border-color: #314776;
    color: white;


  }

  .btn-instagram{
    background: #1b3a6d;
    border-color: #1b3a6d;

  }

  .social {
    color:white;
  }

form {
  text-align: center;
}
